<h1>Eat-Da-Burger!</h1>

<form class="create-burger">
    <div class="form-group">
        <input type="text" id="bgr" name="name">
    </div>
</form>

<button type="submit">Submit</button>

<p>Enter a burger you want to eat! Then click the "Submit" button!</p>

